 * {
    box-sizing: border-box;
    font-family: sans-serif;
 }

 /*Fonts*/

 @font-face {
    font-family: 'ShineCoasty';
    src: url(theBrightWall/fonts/ShineCoasty-WygZz.ttf);
 }

 @font-face {
    font-family: 'Leap';
    src: url(theBrightWall/fonts/Leap.ttf);
 }

 @font-face {
    font-family: 'Räder';
    src: url(theBrightWall/fonts/PPRader/PPRader-Bold.otf);
 }

 /*Fonts*/
 body {
    background-color: rgb(27, 26, 26);
    margin: 0px;
 }

 header {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #905F41;
    color: black;
 }

 main {
    background-color: #667D72;
    color: black;
    padding: 25px;
 }

 footer {
    background-color: #7A513A;
    color: black;
    padding: 10px;
 }

 header,
 main,
 footer {
    width: 400px;
    margin: auto;
 }

 h1 {
    font-family: "Tac One", sans-serif;
    font-size: 50px;
    margin: 0;
 }

 /*Perfil del usuario*/
 #foto-perfil {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0;
    border: 2px #010905 solid;
    object-fit: cover;
 }

 #nombre-usuario {
    font-weight: bold;
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid black;
 }

 /*Publicaciones del usuario*/

 div {
    margin-top: 10px;
    padding: 10px;
 }

 h2 {
    font-family: shineCoasty, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: -10px 0;
 }

 h3 {
    font-family: Räder;
    font-weight: bold;
    font-size: 25px;
    margin: 5px 0;
 }

 p {
    font-family: Räder;
    font-weight: lighter;
 }

 .posteo {
    background-color: #948D6C;
 }

 .anuncio {
    background-color: #B3AA6B;
 }

 img {
    width: 100%;
    display: block;
    margin: 0 auto;
 }
